# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Apache2 stuff
*.la
*.o
*.lo
*.slo
test/*.log
test/httpd.pid
.libs
