Source: libapache2-mod-statsd
Section: unknown
Priority: extra
Maintainer: Krux Operations Team <charlie@schluting.com>
Build-Depends: cdbs, debhelper (>= 7), apache2-dev, perl
Standards-Version: 3.8.3
Homepage: https://github.com/jib/mod_statsd

Package: libapache2-mod-statsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache module to send request stats to Statsd
 Apache module to send request stats to Statsd
